<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    {{>navbar}}
        <h1>WELCOME TO THE APP!</h1>
        <h2>You are successfully logged in</h2>
        <h3>You can now access all the features of this portal</h3>
</body>
</html>